.card {
	background-color: var(--contrast-light-color);
	border-radius: 10px;
	box-shadow: var(--shadow);
	width: 100%;
	max-width: 45rem;
	padding: 1.75rem;
	box-sizing: border-box;
}

.card__title {
	font-size: var(--font-size-card-title);
	text-align: center;
	margin-bottom: 1rem;
}
